<o:bind latex:render>
  <organon:latex text="\(!(this.content)\)" preamble="!(latex:preamble)">
    <object data="!(latex:datauri)" type="!(latex:mimetype)"></object>
    <figcaption @try><akw:caption /></figcaption>
  </organon:latex>
</o:bind>

<o:match this.type>
  <case inline><span class="math inline"><this.content/></span></case>

  <case display><span class="math display"><this.content/></span></case>

  <!-- people may prefer this to be empty? -->
  <case raw><span class="math inline"><this.content/></span></case>
</o:match>
