<o:bind content><this:content:list with="org.objects"/></o:bind>

<o:match this.scheme>
  <case rt><ruby><content/><rt><this.path/></rt></ruby></case>
  <case yt><iframe width="100%" height="315" src="https://www.youtube.com/embed/!(this.path)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></case>
  <case abbr><abbr title="!(this.path)"><content/></abbr></case>
  <default><a href="!(this.target)"><content/></a></default>
</o:match>
