<o:bind repeater><o:open @try this.repeater>, repeating every <value/> <unit/></o:open></o:bind>
<o:bind warning><o:open @try this.warning-period>, warning for <value/> <unit/></o:open></o:bind>
<o:bind datetime><time><this:date format="%a, %b %e, %Y"/> <this:time format="at %R %P"/></time></o:bind>
<o:bind timestamp-inner><o:with this=!(caller.attrs.ts)><datetime/><repeater/><warning/></o:with></o:bind>

<o:bind timestamp>
  <span class="timestamp !(this.type)"><timestamp-inner ts=!(caller.attrs.ts) /></span>
</o:bind>

<o:match this.span>
  <case single><timestamp ts=this /></case>
  <case range>(from <timestamp ts=this.from /> to <timestamp ts=this.to />)</case>
</o:match>
