<o:bind line-of-code>
  <code class="line-of-code"><line:content/><br/></code>
</o:bind>

<pre class="example" this.affiliated>
  <this.lines:list as=line>
    <o:match line.type>
      <case plain>
        <line-of-code/>
      </case>
      <case ref>
        <span id="!(line.id)" class="coderef-target"><line-of-code/><span class="coderef">(<line.ref/>)</span></span>
      </case>
    </o:match>
  </this.lines:list>
</pre>
