<o:match this.key>

  <case transclude>
    <this.value:list>
      <utils:transclude-obj>
        <div class="foldable transclusion macrowall">
          <div style="display:none">
            <script class="math" type="tex">!(mathjax.preamble)</script>
          </div>
          <portal target="!(q:target)">
            <doc.children:list with="org.elements" />
            <doc.sections:list with="org.sections" />
          </portal>
        </div>
      </utils:transclude-obj>
    </this.value:list>
  </case>

  <case toc>
    <extra:toc/>
  </case>

</o:match>
