<o:bind-text latex:preamble>
  <doc.kw.latex_header @try/>
  <math:getmacros @try macro=macro>
    \providecommand{\<macro.key/>}[<macro.value.args/>]{<macro.value.body/>}
  </math:getmacros>
</o:bind-text>

<o:bind latex:render>
  <organon:latex text="!(this.content)" preamble="!(latex:preamble)">
    <figure this.affiliated>
      <object data="!(latex:datauri)" type="!(latex:mimetype)"></object>
      <o:if this.akw.caption>
        <figcaption><this.akw.caption/></figcaption>
      </o:if>
    </figure>
  </organon:latex>
</o:bind>

<o:match this.name>
  <case tikzpicture><latex:render/></case>
  <case tikzcd><latex:render/></case>
  <default>
    <div class="math display" this.affiliated>
      <this.content/>
    </div>
  </default>
</o:match>
