<o:bind my:checkbox>
  <o:match this.checkbox>
    <case true><code>[X]</code> </case>
    <case false><code>[ ]</code> </case>
    <case partial><code>[-]</code> </case>
  </o:match>
</o:bind>

<o:match this.type>
  <case unordered>
    <o:bind-text my:bullet>
      <o:match this.bullet>
        <case tag="-">disc</case>
        <case tag="+">square</case>
        <case tag="*">circle</case>
      </o:match>
    </o:bind-text>

    <ul this.affiliated style="list-style-type: !(my:bullet);">
      <this.items:list>
        <li>
          <my:checkbox/>
          <this:content:list with="org.elements"/>
        </li>
      </this.items:list>
    </ul>
  </case>

  <case ordered-num>
    <ol this.affiliated style="list-style-type: decimal;">
      <this.items:list>
        <li value?="!(this.counter-set)">
          <my:checkbox/>
          <this:content:list with="org.elements"/>
        </li>
      </this.items:list>
    </ol>
  </case>

  <case ordered-alpha>
    <ol this.affiliated style="list-style-type: lower-alpha;">
      <this.items:list>
        <li value?="!(this.counter-set)">
          <my:checkbox/>
          <this:content:list with="org.elements"/>
        </li>
      </this.items:list>
    </ol>
  </case>

  <case descriptive>
    <dl this.affiliated>
      <this.items:list>
        <dt>
          <my:checkbox/>
          <this:descriptive-tag:list with='org.objects'/>
        </dt>
        <dd><this:content:list with="org.elements"/></dd>
      </this.items:list>
    </dl>
  </case>
</o:match>
