<o:bind my.content><this:content:list with="org.elements"/></o:bind>

<o:bind my.theorem>
  <div class="theorem" this.affiliated>
    <span class="theorem-name"><caller.attrs.name/></span>
    <span @try style="font-style: normal"> (<this.akw.caption/>)</span>.
    <my:content/>
  </div>
</o:bind>

<o:bind my:note>
  <div class="note" this.affiliated>
    <div class="heading"><this.children /></div>
    <div class="content"><my:content /></div>
  </div>
</o:bind>

<o:match this.name>
  <case proof>
    <details open class="proof foldable">
      <summary class="title">
        <proof-name />.
      </summary>
      <my:content />
    </details>
  </case>

  <case solution>
    <details class="proof foldable">
      <summary class="title">
        <solution-name />.
      </summary>
      <my:content />
    </details>
  </case>

  <case theorem>
    <my:theorem name=!(theorem-name) />
  </case>

  <case statement>
    <my:theorem name=!(statement-name) />
  </case>

  <case claim>
    <my:theorem name=!(claim-name) />
  </case>

  <case lemma>
    <my:theorem name=!(lemma-name) />
  </case>

  <case definition>
    <my:theorem name=!(definition-name) />
  </case>

  <case exercise>
    <my:theorem name="Exercício" />
  </case>

  <case proposition>
    <my:theorem name=!(proposition-name) />
  </case>

  <case note>
    <my:note>☝</my:note>
  </case>

  <case portal>
    <div id=!(this.akw.portal-target) class="portal-target">
      <my:content/>
    </div>
  </case>

  <default>
    <div class="!(this.name)" this.affiliated>
      <my:content/>
    </div>
  </default>
</o:match>
