<o:bind line-of-code>
  <code class="line-of-code"><line:content/><br/></code>
</o:bind>

<o:match this.attributes.expand>
  <case t>
    <o:expanded text="!(this.content)"/>
  </case>
  <default>
    <pre class="code !(this.language)" this.affiliated>
      <this.lines:list as=line>
        <o:match line.type>
          <case plain>
            <line-of-code/>
          </case>
          <case ref>
            <span id="!(line.id)" class="coderef-target"><line-of-code/><span class="coderef">(<line.ref/>)</span></span>
          </case>
        </o:match>
      </this.lines:list>
    </pre>
  </default>
</o:match>
