<table>
  <this:head>
    <thead>
      <head:rows>
        <tr>
          <row:cells>
            <o:if cell:alignment>
              <th style="text-align: !(cell:alignment);"><cell:content/></th>
              <o:else>
                <th><cell:content/></th>
              </o:else>
            </o:if>
          </row:cells>
        </tr>
      </head:rows>
    </thead>
  </this:head>
  <this:bodies>
    <tbody>
      <body:rows>
        <tr>
          <row:cells>
            <o:if cell:alignment>
              <td style="text-align: !(cell:alignment);"><cell:content/></td>
              <o:else>
                <td><cell:content/></td>
              </o:else>
            </o:if>
          </row:cells>
        </tr>
      </body:rows>
    </tbody>
  </this:bodies>
</table>
