/* Serif */

@font-face {
    font-family: 'Libertinus Serif';
    font-style: normal;
    font-weight: 400;
    src: local('Libertinus Serif'), url('libertinus/LibertinusSerif-Regular.woff2') format('woff');
}
@font-face {
    font-family: 'Libertinus Serif';
    font-style: italic;
    font-weight: 400;
    src: local('Libertinus Serif'), url('libertinus/LibertinusSerif-Italic.woff2') format('woff');
}
@font-face {
    font-family: 'Libertinus Serif';
    font-style: normal;
    font-weight: 600;
    src: local('Libertinus Serif'), url('libertinus/LibertinusSerif-Semibold.woff2') format('woff');
}
@font-face {
    font-family: 'Libertinus Serif';
    font-style: italic;
    font-weight: 600;
    src: local('Libertinus Serif'), url('libertinus/LibertinusSerif-SemiboldItalic.woff2') format('woff');
}
@font-face {
    font-family: 'Libertinus Serif';
    font-style: normal;
    font-weight: 700;
    src: local('Libertinus Serif'), url('libertinus/LibertinusSerif-Bold.woff2') format('woff');
}
@font-face {
    font-family: 'Libertinus Serif';
    font-style: italic;
    font-weight: 700;
    src: local('Libertinus Serif'), url('libertinus/LibertinusSerif-BoldItalic.woff2') format('woff');
}
@font-face {
    font-family: 'Libertinus Serif Display';
    font-style: normal;
    font-weight: 400;
    src: local('Libertinus Serif Display'), url('libertinus/LibertinusSerifDisplay-Regular.woff2') format('woff');
}

/* Sans */

@font-face {
    font-family: 'Libertinus Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Libertinus Sans'), url('libertinus/LibertinusSans-Regular.woff2') format('woff');
}
@font-face {
    font-family: 'Libertinus Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Libertinus Sans'), url('libertinus/LibertinusSans-Italic.woff2') format('woff');
}
@font-face {
    font-family: 'Libertinus Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Libertinus Sans'), url('libertinus/LibertinusSans-Bold.woff2') format('woff');
}
