:root {
    --bg: #fffbf7;
    --fg: #222222;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --bg: #190a0f;
        --fg: #d3cfcf;
    }
    img {
        mix-blend-mode: lighten;
    }
    img[src$=".svg"], object[data^="data:image/svg+xml"] {
        filter: invert(.8) hue-rotate(180deg);
        mix-blend-mode: normal;
    }
}
