@font-face {
    font-family: "victor mono";
    src: url("/assets/fonts/VictorMono-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "victor mono";
    src: url("/assets/fonts/VictorMono-MediumItalic.woff2") format("woff2");
    font-style: italic;
}

@font-face {
    font-family: "Twemoji Mozilla";
    src: url("/assets/fonts/Twemoji.Mozilla.ttf");
}


html {
    font-family: "EB Garamond", "Twemoji Mozilla", "Noto Color Emoji", "times", serif;
    font-size: 19px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
}

.plex {
    font-family: 'IBM Plex Sans';
    font-size: 15px;
    font-weight: 400;
}
