mjx-container {
  overflow-x: auto;
  overflow-y: hidden;
}

span.math .katex {
  overflow-x: auto;
  overflow-y: hidden;
}

.katex .tag {
  right: 3pt !important;
}

.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
  padding-top: 1px;
}

.inl {
  display: inline;
  vertical-align: middle;
  margin: 0 6px;
  max-height: 1.5em;
}

.theorem {
  border-radius: 7px;
  /* border: 1px solid #ccc; */
  padding: 10px 15px;
  margin: 20px 0px;
  font-style: italic;
  font-size: 0.95em;
}


.theorem em {
  font-weight: 500;
  font-style: normal;
}

.theorem-name {
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.3px;
}

.theorem > p:first-of-type {
  display: inline;
}

.proof {
  margin: 20px 0px;
  padding-right: 15px;
  padding-left: 10px;
  position: relative;
}

.proof > summary {
  font-weight: 400;
}

.proof::after {
  content: "■";
  position: absolute;
  right: 20px;
  bottom: -6px;
  font-size: 26px;
}
