
div.backlink {
    font-size: 90%;
    color: #444;
    cursor: pointer;
    padding-left: 0.7em;
    margin: 10px 0px;
    padding-top: 3px;
    border-radius: 5px;
}

.backlink > a {
    font-weight: 500;
    font-size: 26px;
    text-decoration: none;
    background: #dabce488;
}

.fn-tooltip {
    display: none;
}

.fn-container:hover .fn-tooltip {
    display: inline;
}

.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headline .meta {
    text-align: right;
}

.meta > .meta-item {
    --color: #0008;
    --bg-color: #f5efdf;
    color: var(--color);
    background-color: var(--bg-color);
    border-radius: 6px;
    font-weight: 500;
    font-size: 12px;
    padding: 2px 4px 1px;
}

.headline .todokw.todo {
    --color: #ce3800;
    --bg-color: #ffcfc9;
}

.headline .todokw.done {
    --color: #008000;
    --bg-color: #bcebbc;
}

.headline .priority.A {
    --color: #e84e00;
    --bg-color: #e84e0033;
}

.headline .priority.B {
    --color: #df9300;
    --bg-color: #eaac3333;
}

.headline .priority.C {
    --color: #90a652;
    --bg-color: #90a65233;
}
