* {
  margin: 0px 0px 0px 0px;
}

html {
  height: 100%;
}

.center {
  text-align: center;
}

a {
  text-decoration: underline;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
  text-decoration: 2px underline dotted;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
  background: #f5f5dc;
  border-radius: 5px;
}

a:link,
a:visited,
a:hover {
  color: var(--fg);
}
a:target {
  background-color: #ffa;
}

.block {
  display: inline-block;
  max-width: 340px;
  margin-right: 40px;
  vertical-align: top;
}

aside {
  font-size: 85%;
  color: #777777;
  font-style: italic;
}

#main {
  position: relative;
  width: 90%;
  max-width: 700px;
  min-height: 80vh;
  padding-left: 5%;
  padding-right: 5%;
  top: 40px;
  margin: 0px auto 0px auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Charis SIL', "Noto Color Emoji", "times", serif;
  font-weight: 600;
}

h1 {
  font-size: 30px;
  letter-spacing: -0.20001px;
  font-weight: 400;
}

h2 {
  font-size: 25px;
  margin-top: 20px;
}

h2 a:link,
h2 a:visited {
  color: #000000;
}

h2 a:hover {
  color: #5a5a5a;
}

h3,
h4,
h5,
h6 {
  margin-top: 20px;
}

h3 {
  font-size: 22px;
}

h4,
h5,
h6 {
  font-size: 22px;
}

blockquote {
  font-style: italic;
  margin: 1em auto 1em auto;
  width: 90%;
  max-width: 500px;
}

code,
pre {
  font-family: "victor mono", "Twemoji Mozilla", monospace;
  line-height: 1.2;
}

code {
  background: #3331;
  padding: 1px 4px;
  margin: 0px 1px;
  border-radius: 0.2em;
  font-size: 78%;
}

.linenumber {
  display: inline-block;
  color: #999999;
  width: 20pt;
  margin-right: 10px;
  text-align: right;
}

.coderef {
  float: right;
}

.coderef-target:target {
  background-color: #ffffaa;
}

pre.example,
pre.code {
  font-size: 83%;
}

pre.example code,
pre.code code {
  font-size: 16px;
}

img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  mix-blend-mode: multiply;
}

p > img {
  vertical-align: bottom;
  margin: 0px 3px 0px 3px;
}

p img:only-child {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figure {
  overflow: auto hidden;
}

figure img {
  display: block;
}

figure object {
  margin-left: auto;
  margin-right: auto;
  display: block;
  overflow-x: scroll;
  mix-blend-mode: multiply;
}

dt {
  display: inline-block;
  font-weight: 500;
  margin-top: 10px;
  background: #f5f5dc;
  color: rgba(0, 0, 0, 0.8);
}

dl {
  margin-left: 10px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

dd {
  margin-left: 15px;
  margin-top: 3px;
}

#main p {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.39999em;
}

b,
strong {
  font-weight: 500;
}

figcaption {
  text-align: center;
}

hr {
  border-color: #ffffff;
  height: 0px;
  width: 70%;
  margin: 4em auto 1em auto;
}

.dark-mode button {
  width: 30px;
  height: 30px;
  display: inline;
  padding-left: 1px;
  padding-top: 1px;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 50% 50% 50% 50%;
  background: none;
}

.dark-mode button:hover {
  background: rgba(204, 204, 204, 0.2);
}

html {
  background: var(--bg);
  color: var(--fg);
  overflow-wrap: break-word;
  scroll-behavior: smooth;
}

::selection {
  background: #ace0e399;
}

header {
  margin-bottom: 28px;
}

.page-foot {
  font-size: 75%;
  font-family: "Arial", "Twemoji Mozilla", sans-serif;
  color: #a6a2a0;
  text-align: center;
  padding: 4em 1em 2em 1em;
  line-height: 2em;
}

.page-foot a:link {
  text-decoration: none;
}

button {
  background: none;
  cursor: pointer;
  color: #a6a2a0;
  border-style: none;
  text-decoration: underline;
}

.csl-left-margin {
  display: inline;
}

.csl-right-inline {
  display: inline;
}

/* @media only screen and (min-width: 600px) { */
/*   section { */
/* border-left  : 2px solid rgba(243,241,236,13.0); */
/* padding-left : 15px; */
/*   } */
/* } */

section > details > summary {
  list-style: none;
  cursor: pointer;
}

section > details > summary::-webkit-details-marker {
  display: none;
}

@media only screen and (min-width: 600px) {
  .foldable {
    padding-left: 10px;
  }

  .foldable:hover {
    box-shadow: -1.5px 0 0 #5321;
  }

  .foldable:not([open]) {
    box-shadow: -2px 0 0 #5321;
  }

  .foldable:hover:not([open]) {
    box-shadow: -2px 0 0 #5323;
  }
}

pre.code {
  background: #fff4;
  display: grid;
  overflow-x: auto;
  margin: 10px 0px;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 10px;
}

pre code {
  background: none;
}

pre.code.with-number {
  grid-template-columns: min-content auto;
}

.line-number {
  display: inline-block;
  color: #ccc;
  user-select: none;
  text-align: right;
  margin-right: 10px;
}

.note {
  margin: 20px 0px;
  border-radius: 10px;
  background: aliceblue;
  font-size: 17px;
  border: 1px solid black;
}

.note .content {
  padding: 0px 15px 4px 15px;
}

.note .heading {
  font-size: 18px;
  color: white;
  font-weight: 500;
  height: 25px;
  line-height: 25px;
  border-bottom: 1px solid black;
  padding: 0px 5px;
  background: #6a94e1;
  border-radius: 10px 10px 0px 0px;
}

#footnotes {
  font-size: 18px;
}

table {
  border-collapse: collapse;
  border-top: 1.5px solid;
  border-bottom: 1.5px solid;
  margin: 20px auto;
}

table,
th,
td {
  padding: 3px 16px;
  font-weight: 300;
}

thead {
}

tbody:not(:first-child) {
  border-top: 1px solid black;
}

tbody th {
}

.timestamp {
  vertical-align: baseline;
  font-size: 0.9em;
  background: #5331;
  border-radius: 0.2em;
  padding: 0em 0.2em;
}

.timestamp::before {
  content: '🕐';
  font-size: 0.8em;
  margin-right: 0.3em;
}

#main ul, #main ol {
  margin: 8px 0px;
  padding-left: 0px;
  margin-left: 30px;
  line-height: 1.3em;
}

#main li {
  margin-bottom: 0.4em;
}
