<style type="text/css" media="screen">
 .math-symbol:hover, .math-symbol:focus {
     background: #0dacbe33;
     border-radius: 2px;
     cursor: pointer;
 }
 .math-tooltip {
     visibility: hidden;
     position: absolute;
     max-width: 400px;
     background-color: #333;
     color: #fff;
     text-align: center;
     border-radius: 6px;
     padding: 5px 10px;
     z-index: 1;
 }
 .math-tooltip::after {
     content: "";
     position: absolute;
     top: 100%;
     left: 50%;
     margin-left: -5px;
     border-width: 5px;
     border-style: solid;
     border-color: #333 transparent transparent transparent;
     z-index: 1;
 }
 .math-tooltip a {
     color: #fff;
 }
</style>

<math:getmacros>
  <div id="math-tooltip-!(macro:key)" class="math-tooltip plex">
    <p @try><macro:docs/></p>
    <p>Definido em <a href="!(page:route)"><doc:kw:title:list with='org.objects'/></a></p>
  </div>
</math:getmacros>
