<!-- Get the list of macros for the current document, recursively. -->
<o:scope>
  <o:bind getmacros:recurse>
    <o:if page.meta.macros>
      <o:with macros=page.meta.macros>
        <o:if macros.imports>
          <macros.imports:list>
            <this:list>
              <utils:transclude-obj><getmacros:recurse/></utils:transclude-obj>
            </this:list>
          </macros.imports:list>
        </o:if>
        <o:if macros.defs>
          <macros.defs:list as=macro>
            <o:scope>
              <macro:value:list as=prop>
                <o:bind-text macro:!(prop.key) strict>
                  <prop.value:list with='utils:verb-obj'/>
                </o:bind-text>
              </macro:value:list>
              <o:bind @try macro:docs strict>
                <macro:value:docs:list with='org.objects'/>
              </o:bind>
              <getmacros-arg/>
            </o:scope>
          </macros.defs:list>
        </o:if>
      </o:with>
    </o:if>
  </o:bind>
  <o:with getmacros-arg=caller.children>
    <getmacros:recurse/>
  </o:with>
</o:scope>
