<!-- Get the list of macros defined in the current document. -->
<o:if page.meta.macros>
  <o:open page.meta.macros>
    <o:if imports.nonempty>
      <div>
        <i>This note imports macros from:</i>
        <ul>
          <imports:list>
            <li><this:list with='org.objects'/></li>
          </imports:list>
        </ul>
      </div>
    </o:if>
    <o:if defs.nonempty>
      <i>This note defines:</i>
      <ul>
        <defs:list as="macro">
          <li>
            <code>\<macro:key/></code>
            <o:if macro.value.docs>
              – <macro:value:docs:list with='org.objects'/>
            </o:if>
          </li>
        </defs:list>
      </ul>
    </o:if>
  </o:open>
</o:if>
