<o:bind-text mathjax:macroarg>\class{math-symbol math-symbol-<macro:key/>}{<macro:body/>}</o:bind-text>
<o:bind-text mathjax:preamble>
  <doc:kw:latex_header @try/>
  <math:getmacros>
    <o:match macro.type>
      <case xparse>\NewDocumentCommand{\!(macro:key)}{!(macro:spec)}{!(mathjax:macroarg)}</case>
      <case delimiter>\DeclarePairedDelimiter{\!(macro:key)}{!(macro:left)}{!(macro:right)}</case>
      <case delimiterx>\DeclarePairedDelimiterX{\!(macro:key)}[!(macro:args)]{!(macro:left)}{!(macro:right)}{!(macro:body)}</case>
      <default>\newcommand{\!(macro:key)}<o:if @try>[!(macro:args)]</o:if>{!(mathjax:macroarg)}</default>
    </o:match>
  </math:getmacros>
</o:bind-text>

<o:bind-text latex:preamble>
  <doc:kw:latex_header @try/>
  <math:getmacros @try>
    \providecommand{\<macro:key/>}[<macro:args/>]{<macro:body/>}
  </math:getmacros>
</o:bind-text>

<script class="math" type="tex">!(mathjax.preamble)</script>

<script type="text/javascript">
 var visibleTooltips = [];

 function enterTooltip (self, ev) {
   if (ev) {
     if (visibleTooltips.length > 0)
       leaveTooltip(visibleTooltips[visibleTooltips.length - 1], false);
     visibleTooltips.push(self);
   }
   let selfRect = self.getBoundingClientRect();
   let toolRect = self.tooltip.getBoundingClientRect();
   let targetLeft = selfRect.left +  window.scrollX;
   let left = targetLeft + selfRect.width / 2 - toolRect.width / 2;
   self.tooltip.style.left = Math.max(0,Math.min(left, window.innerWidth)) + "px";
   toolRect = self.tooltip.getBoundingClientRect();
   let targetTop = selfRect.top + window.scrollY;
   let offset = 10;
   let top = targetTop - toolRect.height - offset;
   self.tooltip.style.top = top + "px";
   self.tooltip.style.visibility = "visible";
 }

 function leaveTooltip (self, ev) {
   if (ev) {
     visibleTooltips.pop();
     if (visibleTooltips.length > 0)
       enterTooltip(visibleTooltips[visibleTooltips.length - 1]);
   }
   self.tooltip.style.visibility = "hidden";
 }

 function toggleDetails(event) {
   const details = event.target;
   if (details.hasAttribute("open")) {
     MathJax.startup.promise =
       MathJax.startup.promise
              .then(() => MathJax.typesetPromise([details]));
     details.removeEventListener('toggle', toggleDetails);
   }
 }

 MathJax = {
   loader: {
     load: ['[tex]/mathtools', '[tex]/html', '[custom]/xparsejax.js'],
     paths: {custom: '/assets/js/mathjax'}
   },
   options: {
     enableMenu: false,
     renderActions: {
       find: [10, function (doc) {
         for (const root of doc.options.elements || [document]) {
           const walls = Array.from(root.querySelectorAll('.macrowall'));
           const details =
             Array.from(root.querySelectorAll('details:not([open])'))
                  .filter(e => !walls.some(i => i.contains(e)));
           walls.push(...details);
           for (const d of details)
             d.addEventListener('toggle', toggleDetails);
           const mathElements =
             Array.from(root.querySelectorAll('span.math, div.math, script.math'))
                  .filter(e => !walls.some(i => i.contains(e)));
           for (const node of mathElements) {
             const display = node.classList.contains('display');
             const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display);
             const text = document.createTextNode('');
             node.parentNode.replaceChild(text, node);
             math.start = {node: text, delim: '', n: 0};
             math.end = {node: text, delim: '', n: 0};
             doc.math.push(math);
           }
         }
       },''],
       tooltips: [10000, function () {
         for (const el of document.getElementsByClassName('math-symbol')) {
           let name = '';
           for (let cls of el.classList) {
             let match = cls.match(/^math-symbol-(\w+)$/);
             if (match) {
               name = match[1];
               break;
             }
           }
           let tooltip = document.getElementById('math-tooltip-' + name);
           el.tooltip = tooltip;
           el.tabIndex = -1;
           el.addEventListener('focus', e => enterTooltip(e.target, true));
           el.addEventListener('blur', e => {
             if (!tooltip.contains(e.relatedTarget))
               leaveTooltip(e.target, true);
           });
         }
       }]
     }
   },
   tex: {
     packages: {'[+]': ['mathtools', 'html', 'xparse']},
     tags: 'ams',
     macros: {
       R: "\\mathbb{R}",
       N: "\\mathbb{N}",
       Z: "\\mathbb{Z}",
       NN: "\\mathbb{N}",
       RR: "\\mathbb{R}",
       ZZ: "\\mathbb{Z}",
       LaTeX: "\\mathrm{L\\kern-.325em\\raise.21em{\\scriptstyle{A}}\\kern-.17em\\TeX}",
     }
   },
   output: {
     displayOverflow: 'linebreak',
     linebreaks: {
       inline: true,
       width: '100%',
       lineleading: .2,
     },
   },
   chtml: {
     mtextInheritFont: true
   },
   startup: {
     ready: () => {

       window.addEventListener("EMABeforeMorphDOM", () => {
         MathJax.startup.output.clearCache();
         MathJax.typesetClear();
         MathJax.texReset();
       });
       window.addEventListener("EMAHotReload", async () => {
         await MathJax.startup.promise;
         for (macrowall of document.getElementsByClassName('macrowall')) {
           await MathJax.typesetPromise([macrowall]);
           MathJax.texReset();
         }
         await MathJax.typesetPromise();
         window.dispatchEvent(new CustomEvent('MathRendered'));
       });
       MathJax.startup.defaultReady();
       MathJax.startup.promise.then(async () => {
         for (macrowall of document.getElementsByClassName('macrowall')) {
           await MathJax.typesetPromise([macrowall]);
         }
         window.dispatchEvent(new CustomEvent('MathRendered'));
       });
     },
   }
 };
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.2.2/es5/tex-chtml.js"></script>
