<o:bind level2>
  <o:match this.tag>
    <case plain-list>
      <this.items:list>
        <o:bind-text pkey>
          <this:descriptive-tag:list with='utils.verb-obj'/>
        </o:bind-text>
        <o:match pkey>
          <case docs>
            <o:bind macro:docs strict>
              <this.content:list with='org.objects'/>
            </o:bind>
          </case>
          <default>
            <o:bind-text macro:!(pkey) strict>
              <this.content:list with='utils.verb-obj'/>
            </o:bind-text>
          </default>
        </o:match>
      </this.items:list>
    </case>
  </o:match>
</o:bind>

<o:match this.tag>
  <case plain-list>
    <o:match this.akw.attr_m>
      <case def>
        <this.items:list>
          <o:scope>
            <o:bind-text macro:name strict>
              <this:descriptive-tag:list with='utils.verb-obj'/>
            </o:bind-text>
            <this.content:list with='level2'>
            <getmacros:arg/>
          </o:scope>
        </this.items:list>
      </case>
      <case import>
        <this.items:list>
          <o:open this.content.head>
            <content:list>
              <utils:transclude-obj><getmacros:recurse/></utils:transclude-obj>
            </content:list>
          </o:open>
        </this.items:list>
      </case>
    </o:match>
  </case>
</o:match>
