<query links-to="!(page:routeRaw)">
  <h3>Links to this doc:</h3>
  <q:result>
    <o:bind-text bl:target>
      <page:route/>#<q:target @try/>
    </o:bind-text>
    <div class="backlink">
      <a href="!(bl:target)"><doc:kw:title:list with="org.objects"/></a>
      <div @try onclick="event.preventDefault(); location.href='!(bl:target)'">
        <portal target="!(q:target)">
          <doc:children:list with="org.elements"/>
          <doc:sections:list with="org.sections"/>
        </portal>
      </div>
    </div>
  </q:result>
</query>
