<base href="/">

<title @try><doc:kw:title/></title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- Styles -->
<link rel="stylesheet" href="!(asset:css/fonts.css)" type="text/css" media="screen">
<link rel="stylesheet" href="!(asset:css/colors.css)" type="text/css" media="screen">
<link rel="stylesheet" href="!(asset:css/stylesheet.css)" type="text/css" media="screen">
<link rel="stylesheet" href="!(asset:css/latex.css)" type="text/css" media="screen">
<link rel="stylesheet" href="!(asset:css/post.css)" type="text/css" media="screen">

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap" rel="stylesheet">

<!-- Extra scripts -->
<script type="text/javascript" src="!(asset:js/layout/sections.js)"></script>

<!-- Ema Shim -->
<o:if organon:live-server><components:shim/></o:if>

<!-- LaTeX -->
<math:mathjax />
