<o:match doc.kw.language>
  <case pt>
    <o:bind-text toc-name>Conteúdo</o:bind-text>
    <o:bind-text theorem-name>Teorema</o:bind-text>
    <o:bind-text lemma-name>Lema</o:bind-text>
    <o:bind-text statement-name>Problema</o:bind-text>
    <o:bind-text claim-name>Afirmação</o:bind-text>
    <o:bind-text proposition-name>Proposição</o:bind-text>
    <o:bind-text proof-name>Demonstração</o:bind-text>
    <o:bind-text solution-name>Solução</o:bind-text>
    <o:bind-text definition-name>Definição</o:bind-text>
  </case>
  <default>
    <o:bind-text toc-name>Table of Contents</o:bind-text>
    <o:bind-text theorem-name>Theorem</o:bind-text>
    <o:bind-text statement-name>Problem</o:bind-text>
    <o:bind-text lemma-name>Lemma</o:bind-text>
    <o:bind-text claim-name>Claim</o:bind-text>
    <o:bind-text proposition-name>Proposition</o:bind-text>
    <o:bind-text proof-name>Proof</o:bind-text>
    <o:bind-text solution-name>Solution</o:bind-text>
    <o:bind-text definition-name>Definition</o:bind-text>
  </default>
</o:match>
