<style type="text/css" media="screen">
 .grid {
     display:grid;
     position: relative;
     grid-template-rows: masonry;
     grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
     gap: 16px;
     padding-top: 16px;
     padding-bottom: 4px;
 }
 .grid a.cell {
     display: block;
     border: 1px solid #3333;
     border-radius: 10px;
     text-decoration: inherit;
     background: #fff3;
     overflow: hidden;
     height: fit-content;
 }
 .grid .excerpt {
     height: 135px;
     border-bottom: 1px solid #0002;
     overflow: hidden;
     text-align: center;
     font-size: 20px;
     display: flex;
     align-items: center;
 }
 .grid .excerpt img {
     width: 100%;
 }
 .grid .title {
     padding: 8px 10px 2px;
     font-size: 18px;
     font-weight: 400;
 }
 .grid .mosaic-meta {
     padding: 6px 0px 10px 10px;
     font-size: 11px;
     font-family: 'IBM Plex Sans';
     font-weight: 400;
     display: flex;
     flex-direction: column;
     gap: 4px;
 }
 .grid .mosaic-meta .timestamp {
     font-size: 1em;
     /* background: none; */
     border-radius: 0.5em;
 }
</style>
<script>
 window.addEventListener('MathRendered', () => {
   document.querySelectorAll('.excerpt > div > div').forEach(el => {
     fitty(el, {maxSize: 30});
   });
 });
</script>
<script type="text/javascript" src="!(asset:js/fitty.min.js)"></script>
<o:bind mosaic:cell>
  <o:with cell=caller>
    <o:bind cell:excerpt>
      <div class="excerpt">
        <div style="min-width: 80%; margin-left: auto; margin-right: auto;">
          <div>
            <caller.children/>
          </div>
        </div>
      </div>
    </o:bind>
    <o:bind cell:title>
      <div class="title">
        <caller.children/>
      </div>
    </o:bind>
    <o:bind cell:props>
      <div style="flex: 1;"></div>
      <div class="mosaic-meta">
        <caller.children/>
      </div>
    </o:bind>
    <a class="cell" href="!(cell.attrs.link)">
      <div style="display: flex; flex-direction: column; height:100%">
        <cell.children/>
      </div>
    </a>
  </o:with>
</o:bind>

<div class="grid">
  <caller.children/>
</div>
