<style type="text/css" media="screen">
 .post-tag {
   background: #f5efdf;
   padding: 0em .4em;
   border-radius: .5em;
 }
</style>

<layout:mosaic>
  <q:result>
    <mosaic:cell link="!(page:route)">
      <cell:excerpt @try>
        <doc.kw.excerpt:list with="org.objects"/>
      </cell:excerpt>
      <cell:title>
        <doc:kw:title:list with="org.objects"/>
      </cell:title>
      <cell:props>
        <div><page.meta.ctime:list with="org.objects"/></div>
        <div class="tags">
          <doc.tags:list>
            <span class="post-tag"><this/></span>
          </doc.tags:list>
        </div>
      </cell:props>
    </mosaic:cell>
  </q:result>
</layout:mosaic>
