<o:match this.tag>
  <case export-block>
      <org:element:export-block/>
  </case>
  <case keyword>
      <org:element:keyword/>
  </case>
  <case latex-environment>
    <org:element:latex-environment/>
  </case>
  <case paragraph>
      <org:element:paragraph/>
  </case>
  <case plain-list>
      <org:element:plain-list/>
  </case>
  <case special-block>
      <org:element:special-block/>
  </case>
  <case src-block>
      <org:element:src-block/>
  </case>
  <default>!(this.tag)</default>
</o:match>
