<o:match this.tag>
  <case image><org:object:image/></case>
  <case italic><org:object:italic/></case>
  <case latex-fragment><org:object:latex-fragment/></case>
  <case link><org:object:link/></case>
  <case plain>!(this.content)</case>
  <case timestamp><org:object:timestamp/></case>
  <case verbatim><org:object:verbatim/></case>
  <default>!(this.tag)</default>
</o:match>
