<o:bind my:headline>
  <span class="headline">
    <span class="title"><section:title:list with="org.objects"/></span>
    <span class="meta plex">
      <span @try class="meta-item priority !(section:priority)">
        Priority: <section:priority/>
      </span>
      <span @try class="meta-item todokw !(section.todo.state) !(section.todo.name)">
        <section.todo.name/>
      </span>
      <section.tags:list as=tag>
        <span class="meta-item tag tag-!(tag)"><tag/></span>
      </section.tags:list>
    </span>
  </span>
</o:bind>

<o:bind my:planning>
  <o:if section.planning.nonempty>
    <ul class="planning">
      <li @try class="scheduled">
        Scheduled: <section:planning:scheduled/>
      </li>
      <li @try class="deadline">
        Deadline: <section:planning:deadline/>
      </li>
      <li @try class="closed">
        Closed: <section:planning:closed/>
      </li>
    </ul>
  </o:if>
</o:bind>

<o:bind my:hlevel>
  <o:match this.level>
    <case 1><h2><caller.children/></h2></case>
    <case 2><h3><caller.children/></h3></case>
    <case 3><h4><caller.children/></h4></case>
    <case 4><h5><caller.children/></h5></case>
  </o:match>
</o:bind>

<o:match this.type>
  <case normal>
    <this:list as="section">
      <section id="!(section.anchor)">
        <details class="foldable" open>
          <summary>
            <my:hlevel><my:headline /></my:hlevel>
          </summary>
          <my:planning/>
          <section:children:list with="org.elements"/>
          <section:subsections:list with="org.sections"/>
        </details>
      </section>
    </this:list>
  </case>

  <case over-level>
    <ol>
      <this:list as="section">
        <li id="!(section.anchor)">
          <p><b><my:headline /></b></p>
          <section:children/>
          <section:subsections/>
        </li>
      </this:list>
    </ol>
  </case>
</o:match>
